<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.operation.resence.operationresence">
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplicaiton"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PopwindowActivity"/>
        <activity android:name=".activity.ThirdActivity"/>
        <activity android:name=".activity.fifthActivity"/>
        <activity android:name=".activity.FourthActivity"/>
        <activity android:name=".activity.ListViewActivity"/>
        <activity android:name=".activity.SlikLineChartActivity"/>
    </application>

</manifest>